*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Monument Extended;
    src: url(../fonts/MonumentExtended-Ultrabold.otf);
}

body{
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: whitesmoke;
}
  
.main-content {
    overflow-x: hidden !important;
}

/* Navbar */
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100vw;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
    padding-inline: -4rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
        margin-inline: 0rem;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 24px;
        width: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 100vw;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

.heading-section{
    min-height: 90vh;
    border-radius: 0px 0px 120px 0px;
    position: relative;
    padding-inline: -4rem;
}

.heading-section::after{
    content: "";
    background: url("../images/header.jpg");
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    border-radius: 0px 0px 120px 0px;
}

.heading-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-section h1{
    font-size: 65px;
    font-family: Monument Extended;
    color: #388E3C;
}

.heading-section p{
    font-size: 23px;
    color: black;
    margin: 20px 0px;
}

.heading-section button {
    width: 140px;
    height: 50px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid #388E3C;
    background: #388E3C;
    color: white;
    cursor: pointer;
}

.heading-section button:hover {
    background: rgba(11, 102, 35, 0.3);
    border: rgba(11, 102, 35, 0.3);
}

@media(max-width: 627px){
    .navbar, .heading-section {
        padding-inline: -1rem;
    }
    
    .heading-section {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 120px 0px;
    }

    .heading-section::after{
        border-radius: 0px 0px 120px 0px;
    }

    .heading-section h1 {
        font-size: 30px;
        font-family: Monument Extended;
        text-align: center;
        margin-top: 60px;
        width: 60%;
    }

    .heading-section p {
        font-size: 20px;
        margin: 20px 0px;
        width: 70%;
    }
}

/* PARTNERSHIPS */
.b-partnership {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    padding-top: 3rem;
}

.b-heading {
    margin-right: 3rem;
    font-family: Monument Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    color: black;
    width: 50%;
}

.d-small {
    display: none;
}

.b-overline {
    text-decoration: none; 
    position: relative; 
}   

 .b-overline:before {
     position: absolute;
     content: '';
     height: 4px;
     left: 0;
     right: 0;
     width: 50%;
     background: green;
       
    /* animation */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
 }
  

#web3bridge, #blockchain4u, #gida, #a1hub {
    width: 200px;
    height: 100px;
    background: gainsboro;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    object-fit: contain;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

@media (max-width: 627px) {
    .b-partnership {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: -4rem;
    }

    .b-heading {
        font-size: 25px;
        width: 70%;
    }

    .d-small {
        display: block;
    }

    .d-large {
        display: none;
    }

    .b-overline:before {
        width: 25%;
        margin-left: 2rem;
    }

    .b-partners {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 87%;
    }

    #web3bridge, #blockchain4u, #gida, #a1hub {
        padding: 10px;
        margin: 15px 0px;
        width: 80%;
    }
}

/* WHY BLOCKCHAIN UNN */
.why {
    background: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 400px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    margin-top: 3rem;
}

.why .about {
    width: 85%;
    margin-top: -3.5rem;
}

.why img {
    width: 100%;
    height: 450px;
    border-radius: 20px;
}

.why .overline:before {
    width: 25%;
}

.why .overline:hover:before {
    width: 40%;
}

.moreBtn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 7px;
    border: 1px solid #388E3C;
    background: white;
    color: green;
    cursor: pointer;
}

.moreBtn:hover {
    background: rgba(11, 102, 35, 0.3);
    border: 2px solid green;
}

@media (max-width: 627px) {
    .why {
        display: block;
        padding: 100px 25px 100px 25px;
        font-size: 14px;
    }

    .why .about {
        width: 95%;
    }

    .why img {
        margin-top: 2rem;
        height: 350px;
        margin-bottom: -4rem;
    }
}

.one>div img{
    width: 90%;
    height: 640px;
}
.one{
    display: flex;
    margin-top: 6rem;
}
.one>div{
    width: 55%;
   display: flex;
   justify-content: center;
}
.one{
    /* align-items: center; */
    gap: 3rem;
    padding: 4rem;  
    background-color: #F5FFF3;
}
.one h1, .two header, .three header{
    font-family: Monument Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.one p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.one article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.two{
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}
.two article{
    display: flex;
    gap: 1rem;
    align-items: center;
    Padding-inline: 2rem;
}
.two div{
    width: 50%;
    padding: 6rem 4rem;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 20px;
}
.two button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 15px;
    background-color: white;
    margin-top: 2rem;
  
}
#budv, #budv button{
    color: #388E3C;
    background-color: #F5FFF3;
}
#budv button{
    border-radius: 10px;
    border: 0.1px solid #388E3C;
}
#buds, #buds button{
   color: #342662 ; 
   background-color: #F5F2FF;
}
#buds button{
    border-radius: 10px;
    border: .1px solid #342662;
}
#bucs, #bucs button{
    color: #5A4C1F;
    background-color: #F9F6ED;
}
#bucs button{
    border: .1px solid #5A4C1F;
    border-radius: 10px;
}
.two header{
    width: 50%;
    padding-right: 5rem;
}
.three{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 6rem;
}

@media (min-width: 960px) {
    .three, .testimonials, .team-section{
        margin: 6rem 2rem;
    }
}

.three article{
    display: flex;
    gap: 2rem;
}
.three main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.three div{
    background-image: url(../images/bg1.png);
    padding: 2rem 2rem;
    color: white;
    border-radius: 20px;
    border: none;
}
.three div h1{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    line-height: 39px;
}
.three div p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}
.sold-out{
    color:#31B219;
    margin-top: 2rem;
}
.three header{
    font-size: 28px;
}
hr{
    width: 90px;
    height: 5px;
    background-color: #388E3C;
}

.testimonials,.team-section{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
 }       
 .team-section{
    display: flex;
    flex-direction: column;
 }
.testimonials main {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;  
    width: 100%;  
}
.testimonials h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
.card1, .card2 {
    padding: 2rem;
    box-shadow: 0px 0px 15px #fbf2f2;
}
.card1 {
    background-color: white;
}

.card2 {
    background-color: #f7fff9;
}
.testimonial-card p {
    margin-bottom: 12px;
}
.testimonial-card h5 {
    color: #388E3C;
    padding-top: 2rem;
}

.team-section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
 }      
 .team-section header {
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
 }
 .team-section main{
    display: flex;
    width: 100%;
    gap: 3rem;
 }
 .team-section main article{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
    border-radius: 16px;
    box-shadow: 3px 3px 5px darkgray;
    background-color: whitesmoke;
 }
 .team-section main article div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-around;
 }
.cofoundersImages{
    width: 50%;
    border-radius: 20px 0px 0px 20px;
}
.main2 ,.cofoundersImages{
    height: 380px;
}
.others{
    width: 60px;
    border-radius: 50%;
}
.team-section h5{
    font-size: 22px;
}
.otherTeam{
    background: none !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.otherTeam img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 12px;
    margin-left: 6px;
}
.otherTeam a{
    text-decoration: none;
}

#pic2, #pic3, #pic4 {
    margin-left: -16px;
}

#pic2 {
    opacity: 0.9;
}

#pic3 {
    opacity: 0.8;
}

#pic4 {
    opacity: 0.6;
}
.community {
    background: linear-gradient(to right, rgba(215, 247, 227, 1), rgba(215, 247, 227, 0), rgba(215, 247, 227, 1));
    padding-inline: 2rem;   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: -3rem;
    padding: 5rem 4rem;
    margin-top: 6rem;
}
.community header{
    width: 100%;
}
.community h1 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
}
.community-breakdown {
    display: flex;
    width: 100%;
   justify-content: space-around;
}
.community-breakdown li {
    list-style: none;
}
.community-breakdown h4 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 64px;
    color: #2E7D32;
}

.community-breakdown p {
    font-family: 'Montserrat', sans-serif;
}
footer {
    margin-top: 3rem;
    padding: 0rem 4rem;
    background-color: #000000;
}

.logo {
    width: 350px;
    /* margin-right: 18rem; */
    height: 350px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.footer-container {
    display: flex;
    
}

.footer-container p {
    padding: 0rem 2rem 2rem;
}


.footer-container a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer-container a:hover {
    font-size: 20px;
    font-weight: 600;
}

footer hr {
    border-style: none;
    height: 0.5px;
    background-color: rgb(162, 159, 159);
    opacity: 0.3;
}

.copyright {
    display: flex;
    justify-content: center;
}

.copyright p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}


@media only screen and (max-width: 760px){
    body{
        width: 100%;
        padding-inline: 1rem;
    }

    .navbar, .heading-section {
        padding-inline: -1rem;
    }

    /* .one>div{
      
    } */
    .one>div img{
        justify-content: center;
        max-width: 100%;
        opacity: .2;
        position: absolute;
        top: 0rem;
        left: 0rem;
        bottom: 0rem;
        right: 0rem;
        margin: auto;
    }
 
    .one article{
        width: 100%;
        gap: 2.5rem;
        justify-content: center;
    }
    .one{
        gap: 3rem;
        padding: 5rem 1rem;
        background-color: #F5FFF3;
        flex-direction: column;
        position: relative;
        margin-inline: 0;
        margin-top: 5rem;
    }
    .one h1{
        font-size: 22px;
        margin-top: -.7rem;
    }
    .one p, .three article p{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
    }
    hr{
        width: 50px;
    }
    .two{
        flex-direction: column;
        margin-top: 6rem;
    }
    .two article{
        flex-direction: column;
        Padding-inline: 1rem;
    }
    .two header, .two div{
        width: 100%;
    }
    .two header,.three header{
        font-family: Monument Extended;
        font-size: 22px;
        line-height: 26.4px;
    }
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    .three{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .three header h1{
        font-size: 18px;
    }
    .three article{
        flex-direction: column;
        padding-inline: 0rem;
        width: 100%;
    }
    .three hr{
        transform: translateY(-1rem);
    }
    .testimonials main{
        flex-direction: column;
    }
    .testimonials>div{
        flex-direction: column;
    }
    .team-section header{
        margin-top: 8rem;
    }
    .team-section header h1{
        font-size: 22px;
        line-height: 26.4px;
    }
    .testimonials{
        padding: 1rem;
    }
    .testimonials h1{
        font-size: 22px;
        line-height: 26.4px;
        margin-top: 0px;
    }
    .card1, .card2 {
        padding: 1.5rem 1rem;
        box-shadow: 0px 0px 15px #fbf2f2;
        font-size: 14px;
        line-height: 22px;
    }
    .team-section{
        padding: 0 1rem;
        margin-top: -5rem;
        margin-bottom: 13rem;
    }
    .team-section main{
        display: flex;
        width: 90%;
        flex-direction: column;
        gap: 6rem;
        align-self: center;
     }
     .main2{
        margin: 3rem 0rem;
     }
     .team-section main article{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        text-align: center;
     }
     .team-section main article div{
        padding: 2rem 0.5rem;
     }
     .cofoundersImages{
        width: 100%;
        height: 250px;
        border-radius: 20px 20px 0px 0px;
    }
    .others{
        width: 60px;
        border-radius: 50%;
    }
    .team-section h5{
        font-size: 22px;
    }
    .otherTeam ul{
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
    .community{
        margin-inline: 0rem;
    }
    .community header h1{
        font-size: 28px;
    }
    .community-breakdown {
        flex-direction: column;
        gap: 2rem;
     }
     .community-breakdown li {
         width: 100%;
     }
     .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 32px;
        color: #2E7D32;
    }
    footer{
        margin-inline: 0rem;
        text-align: center;
        margin-bottom: 0rem;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo{
        display: none;
    }
}
@media only screen and (max-width:1400px){
    .community-breakdown {
        flex-direction: column;
     }
    body{
        padding-inline: 0rem;
    }
    .one h1, .two header, .three header h1{
        font-size: 22px;
        margin-top: -.7rem;
    }
    #logo{
        width: 470px;
        height: 470px; 
    }
    .one p, .three article p{
        font-size: 16px;
        line-height: 25px;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .sold-out{
        color:#31B219;
        margin-top: 1rem;
    }
    .three{
        padding-inline: 1rem;
    }
    .three main{
        padding-inline: 1rem;
    }
    .three div{
        padding: min(1rem,1rem);
    }
    .two button{
        font-size: 14px;
    }
    .two div{
        padding: 2rem 3rem;
    }
}

@media (max-width:1140px) and (min-width:760px){
    .navbar{
        margin-inline: 0.1rem;
    }
    .heading-section{
        max-height: 70vh;
    }
    .heading-section::after{
        max-height: 70vh;
    }
    .heading-section h1{
        margin-top: -10rem;
    }
    .heading-section p{
        width: 80%;
        text-align: center;
    }
    .b-partnership{
        margin-top: -10rem;
    }
    .b-partnership h1{
        display: none;
    }
    .why{
        padding: 5rem 2rem;
    }
    .three main{
        flex-direction: row;
    }
    .three article{
        flex-direction: column;
    }
    .one>div{
        justify-content: center;
        width: 100%;
        opacity: .2;
        position: absolute;
        top: 0rem;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    #logo{
       
        height: 400px; 
    }
    .one article{
        width: 100%;
        padding-inline: 1rem;
    }
    .one article>div{
        margin-bottom: 2rem;
    }
    .two{
        flex-direction: column;
    }
    .two article{
        flex-direction: column;
        Padding-inline: 1rem;
    }
    .two header, .two div{
        width: 100%;
    }
    .two header,.three header,.testimonials h1,.team-section header h1{
        font-family: Monument Extended;
        font-size: 22px;
        line-height: 26.4px;
    }
    .testimonials{
        padding-inline: 1rem;
    }
    .testimonial-card{
        flex-direction: column;
    } 
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    .team-section{
        padding-inline: 1rem;
    }
   .team-section .main1,.team-section .main2{
    flex-direction: column;
   }
   .team-section .main2 .otherTeam::before{
    content: 'Other Team members';
   }
   .team-section .main2 .otherTeam{
    justify-content: center;
   }
   .team-section .main1 article,.team-section .main2 article{
    width: 100%;
   }
   .community{
    margin-inline: 0rem;
    padding-inline: 1rem;
    width: 100%;
    margin-top: 10rem;
    }
    .community header h1{
        font-size: 28px;
        line-height: 26px;
    }
    .community-breakdown {
        flex-direction: row;
        gap: 1rem;
    }
    .community-breakdown li {
        width: 100%;
    }
    .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 39px;
        color: #2E7D32;
    }
    footer{
        margin-inline: 0rem;
        text-align: center;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo{
        display: none;
    }
}